<div class="inner cover" align="center">
	<div class="row">
		<div class="col-md-4">
			<%= fa_icon "search-plus 5x" %>
			<h1>Discover</h1>
			<h4>Get inspired by some of your local heroes.</h4>
		</div>
		<div class="col-md-4">
			<%= fa_icon "gamepad 5x" %>
			<h1>Play</h1>
			<h4>Pick a project and start playing.</h4>
		</div>
		<div class="col-md-4">
			<%= fa_icon "users 5x" %>
			<h1>Connect</h1>
			<h4>Take your passion to the next level with your local hero.</h4>
		</div>
	</div>
</div>
